@media print {
    @page {
        size: A4;
        margin: 0.75cm;
    }

    .columns {
        flex-direction: row;
    }

    .constrain-width{
        max-width: 100%;
    }

    .column-gutter {
        display: none;
    }

    .logo-small, .logo-medium {
        width: 40px;
    }

    /*set all fonts to black for better readibility when printed*/
    body, a, .icon-small{
        color: black;
    }

    p, li{
        font-size: 10pt;
        letter-spacing: normal;
    }

    h1, h2{
        font-size: 16pt;
    }
    
    h3, h4{
        font-size: 14pt;
    }

    /*improve contrast between filled and unfilled bubbles*/
    .icon-small-disabled {
        filter: brightness(150%);
    }

    .nav,
    .footer {
        position: relative;
    }

    /*replace bordered items with giving cards a border*/
    .bordered {
        border: none;
    }

    .rounded {
        border: solid 1px black;
    }

    /*make comfy less comfy*/
    .comfy, .comfy-no-leftright{
        padding: 0.1rem;
        margin: 0.1rem;
    }

    /*hide buttons since they don't work when printed*/
    button,
    a {
        display: none;
    }

    /*show footer text instead to provide info from buttons*/
    #footer-text {
        display: inline;
    }
}