:root {
    --dark-color: #212121;
    --medium-color: #383838;
    --light-color: #c4c4c4;
    --font-family-heading: Atkinson Hyperlegible Mono, Sans-serif;
    --font-family-content: Inter, Sans-serif;
    --font-scale: 1.2rem;
}

body {
    background-color: var(--dark-color);
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--font-family-heading);
    color: var(--light-color);
    margin: 0px;
}

i,
a {
    color: var(--light-color);
    text-decoration: none;
}

h2 {
    font-size: calc(1.0 * var(--font-scale));
    font-weight: 300;
    letter-spacing: 0.3rem;
    margin: 1rem 0;
    display: inline-block;
}

h3 {
    font-size: calc(0.9 * var(--font-scale));
    font-weight: 200;
    letter-spacing: 0.15rem;
    margin: -1rem 0 1rem;
}

h4 {
    font-size: calc(0.8 * var(--font-scale));
    font-weight: 400;
    letter-spacing: 0.11rem;
    line-height: 2rem;
    margin: 0;
    padding-left: 0.75rem;
}

ul {
    margin: 0.5rem 1rem 0.5rem -1.5rem;
}

li,
p {
    font-size: calc(0.8 * var(--font-scale));
    font-weight: 100;
    line-height: 1.2rem;
    list-style-type: "-";
    font-family: var(--font-family-content);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
}

button:hover {
    transition: filter 0.5s ease-in-out;
    filter: brightness(140%);
}

#surname {
    font-weight: 800;
}

.columns {
    display: flex;
    flex-direction: row;
}

.column-left {
    flex: 30%;
}

.column-right {
    flex: 60%;
}

.column-equal {
    flex: 50%;
}

.comfy {
    padding: 1rem;
    margin: 0.5rem;
}

.comfy-no-left {
    padding: 1rem 1rem 1rem 0rem;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.comfy-no-right {
    padding: 1rem 0rem 1rem 1rem;
    margin: 0.5rem 0rem 0.5rem 0.5rem;
}

.compact {
    padding: 0.5rem;
    margin: 0.25rem;
}

.logo-medium {
    width: 5rem;
    height: 5rem;
    padding: 3px;
}

.bg-light {
    background-color: var(--light-color);
}

.bg-dark-opacity-hi {
    background-color: rgba(from var(--dark-color) r g b / 0.9);
}

.bg-dark-opacity-lo {
    background-color: rgba(from var(--dark-color) r g b / 0.4);
}

.bg-no {
    background-color: rgba(0, 0, 0, 0.25);
}

.bordered {
    border: 1px;
    border-style: solid;
    border-color: var(--medium-color);
}

.rounded {
    border-radius: 5px;
}

.inline {
    display: inline-block;
}

.italic {
    font-style: italic
}

.nav {
    position: sticky;
    top: 0;
}

.nav-content {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    width: 90%;
    margin-left: 1rem;
}

.spacer {
    height: 5rem;
}

.square-small {
    width: 2.2rem;
    height: 2.2rem;
}

.footer {
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 0;
    margin: 0;
}

#footer-text {
    display: none;
}

@media (max-width: 700px) {
    :root {
        --font-scale: 1rem;
    }

    /*switch to one column on screens that can't comfortably fit all three*/
    .columns {
        flex-direction: column;
    }
}

@media print {
    @page {
        size: A4;
        margin: 0.75cm;
    }

    /*set all fonts to black for better readibility when printed*/
    body {
        color: black;
    }

    .nav,
    .footer {
        position: relative;
    }

    /*replace bordered items with giving cards a border*/
    .bordered {
        border: none;
    }

    .rounded {
        border-width: 1px;
        border-style: solid;
    }

    /*make comfy less comfy*/
    .comfy, .comfy-no-left, .comfy-no-right{
        padding: 0rem;
        margin: 0rem;
    }

    /*hide buttons since the don't work when printed*/
    button,
    a {
        display: none;
    }

    /*show footer text instead to provide info from buttons*/
    #footer-text {
        display: inline;
    }
}