:root {
    --dark-color: rgb(33, 33, 33);
    --medium-color: #363636;
    --light-color: #c4c4c4;

    /*this one does not toggle with dark mode*/
    --light-color-fixed: #c4c4c4;

    --accent-color: #7f9a77;
    --font-family-heading: Atkinson Hyperlegible Mono, Sans-serif;
    --font-family-content: Inter, Sans-serif;
    --font-scale: 1.2rem;

    font-family: var(--font-family-heading);
    color: var(--light-color);
}

/* element-level base stylings */

body {
    background-color: var(--dark-color);
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

i,
a {
    color: var(--light-color);
    text-decoration: none;
}

h2 {
    font-size: calc(1.1 * var(--font-scale));
    font-weight: 400;
    letter-spacing: 0.3rem;
    line-height: 0.8rem;
    display: inline-block;
}

h3 {
    font-size: calc(0.95 * var(--font-scale));
    font-weight: 400;
    letter-spacing: 0.15rem;
}

h4 {
    font-size: calc(0.8 * var(--font-scale));
    font-weight: 400;
    letter-spacing: 0.11rem;
    line-height: 0.8rem;
    margin: 0;
}

li,
p {
    font-size: calc(0.8 * var(--font-scale));
    font-weight: 200;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: var(--font-family-content);
}

li {
    list-style-type: "";
}

b, i{
    font-family: var(--font-family-content);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
}

button:hover {
    transition: filter 0.4s ease-in-out;
    filter: brightness(120%);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*class styling*/

.bg-light {
    background-color: var(--light-color);
}

.bg-dark-opacity-hi {
    background-color: rgba(from var(--dark-color) r g b / 0.6);
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
}

.bg-dark-opacity-lo {
    background-color: rgba(from var(--dark-color) r g b / 0.4);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.bg-no {
    background-color: rgba(0, 0, 0, 0.25);
}

.bottom {
    align-items: flex-end;
}

.bordered {
    border: 1px solid rgba(from var(--light-color) r g b / 0.125);
}

.bordered-bottom {
    border-bottom: 1px solid rgba(from var(--light-color) r g b / 0.3);
}

.bordered-left {
    border-left: 1px solid rgba(from var(--light-color) r g b / 0.3);
}

.bordered-top {
    border-top: 1px solid rgba(from var(--light-color) r g b / 0.3);
}

.columns {
    display: flex;
    flex-direction: row;
}

/*same presets but doesn't resize on smaller screen breakpoint*/
.columns-fixed{
    display: flex;
    flex-direction: row;
}

.column-gutter{
    width: 5rem;
}

.column-xsmall{
    width: 6rem;
}

.column-25 {
    flex: 25%;
}

.column-75 {
    flex: 75%;
}

.column-50 {
    flex: 45%;
}

.comfy {
    padding: 0.75rem;
    margin: 0.5rem;
}

.comfy-no-leftright {
    padding: 1rem 0rem;
    margin: 0.5rem 0rem;
}

.compact {
    padding: 0.3rem 0.5rem;
    margin: 0.2rem 0.25rem;
}

.constrain-width {
  max-width: 1800px;
  margin: auto;
}

.extra-margin-bottom {
    margin-bottom: 10px;
}

.extra-margin-right{
    margin-right: 10px;
}

.icon-small {
    font-size: 0.8rem;
    color: var(--accent-color);
}

.icon-small-disabled {
    font-size: 0.8rem;
    color: var(--medium-color);
} 

.inline {
    display: inline-block;
}

.logo-small {
    display: fixed;
    width: 3.5rem;
    margin: 0.25rem;
}

.logo-medium {
    display: fixed;
    width: 5rem;
    margin: 0.25rem;
}

.rounded {
    border-radius: 5px;
}

.section {
    line-height: 2rem;
    letter-spacing: 0.25rem;
    margin-left: 0.75rem;
    color: var(--light-color-fixed)
}

.square-small {
    width: 2.2rem;
    height: 2.2rem;
}

.text-middle{
    text-align: center;
}

.top {
    align-items: top;
}

.typewrite {
    font-size: calc(0.8 * var(--font-scale));
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.11rem;
    line-height: 0.8rem;
    margin: 0;
    min-width: 17rem;
    text-align: center;
}

.typewrite > .wrap { 
    border-right: 1px solid var(--light-color);
    line-height: 0.8rem;
}

.z-top {
    z-index: 1;
}

/* ID stylings */

#darkModeSelector {
    color: var(--accent-color);
}

#footer-text {
    display: none;
    justify-content: space-around;
}

#surname {
    font-weight: 800;
}

/* media-responsiveness for smaller screen sizes */

@media (max-width: 1200px) {
    :root {
        --font-scale: 1.1rem;
    }

    /*switch to one column on screens that can't comfortably fit all three*/
    .columns {
        flex-direction: column;
    }

    .constrain-width {
        max-width: 600px;
    }

    #title {
        display: none;
    }
}