:root {
    --bg: #D1B68F;
    --card: #FFFCE8;
    --primary: #19323c;
    --acnt1: #6f1f41;
    --acnt2: #A27035;
    --acnt3: #401225;    
}

body {
    background: var(--bg);
    width: 900px;
    display: flexbox;
    margin: auto;
    color: var(--primary);
    line-height: 1.3;
    font-family: "Courier New", "Roboto Condensed", monospace;
}

img{
    display: block;
    margin: auto;
    width: 150px;
    margin-bottom: -35px;
    margin-top: -35px;
}

.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,var(--acnt3), var(--acnt1),var(--acnt2));
  border: 0;
  border-radius: 8px;
  box-shadow: --var(--acnt2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: var(--card);
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 0.5em;
  max-width: 50%;
  padding: 24px;
margin: auto;
    margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--acnt2);
    box-shadow: 2px 2px 10px var(--acnt2);
    margin: 2% 8%;
}

h1 {
    font-size: 2.25rem;
    font-weight: bolder;
    text-align: center;
    color: var(--acnt1);
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    color: var(--acnt1);
}

h3 {
    font-size: 1.0625rem;
    font-weight: normal;
    text-align: center;
}

h4 {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    margin-right: 3%;
}

h5 {
    font-size: 1.5em;
    line-height: 0.5em;
    font-weight: bolder;
    text-align: center;
    color: var(--acnt1);
}

strong {
    color: var(--acnt1);
}

p {
    font-size: 1.025rem;
    font-weight: normal;
    text-align: left;
    font-kerning: normal;
}

div {
    display: flex;
    justify-content: center;
}

.card {
    width: var(--width);
    padding: 1% 2%;
    margin: 1% 2%;
    transition: all 0.3s ease;
    display: inline-block;
    border-radius: 15px;
    background: var(--card);
    box-shadow: var(--acnt3) 3px 3px 5px;
}

.icon{
    width: 100px;
    margin: auto;
    
}

.center {
    display: inline;
    position: static;
    text-align: center;
    height: 50%;
    padding: 25%;
}

.footer {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-size: 1.125rem;
    color: var(--acnt1);
}

.sectHead {
    text-transform: uppercase;
}

.lang {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.dot {
    height: 1.124rem;
    width: 1.124rem;
    background-color: var(--acnt3);
    border-radius: 50%;
    display: inline-block;
    margin: 10% 1.5%;
}

.dot2 {
    height: 1.124rem;
    width: 1.124rem;
    background-color: var(--acnt2);
    border-radius: 50%;
    display: inline-block;
    margin: 10% 1.5%;
}

.card-footer {
    position: inherit;
    min-width: fit-content;
    top: 15%;
    font-size: 0.8em;
}


@media (hover: hover) {
    a:hover{
        transform: scale(1.025);
    }
}
