:root {
  --dark-color: #424B54;
  --primary-color: #93A8AC;
  --light-color: #F5F5F5;
  --accent-color: #52050A;
  --font-family: Atkinson Hyperlegible Mono, Roboto Mono, Montserrat;
}

body{
     background-color: var(--dark-color);
     font-family: var(--font-family);
}

.bg-light{
    background-color: var(--light-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-dark{
    background-color: var(--dark-color);
}

.bg-accent{
    background-color: var(--accent-color);
}

.rounded{
    border-radius: 5px;
}

.comfy{
    margin-left: 5%;
    margin-right: 5%;
}